/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */

/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
/*               End of Setup             */



/*                  Font                  */
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;
}




/*CSS*/

body{
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.container{
	max-width:1024px;
	margin:0 auto;
	padding:0 10px;
}



/*-----------nav-------------*/
nav{
	background-color:rgba(0,0,0,0.8);
	height:44px;
}

ul.nav{
	width:1020px;
}

ul.nav li:not(:last-child){
	display:inline-block;
	margin-right:51.6px;
	vertical-align: top;
	height:44px;
}

li.li-shop{
	display:inline-block;
	vertical-align: top;
	height:44px;
}

.nav-link{
	display:inline-block;
	height:44px;
	margin:0 auto;
	padding:0 10px;
}

#nav-apple{
	width:40px;
	background:url(images/navbar/icon.png) 50% 50% no-repeat;
}

#nav-mac{
	width:47.5px;
	background:url(images/navbar/mac.png) 50% 50% no-repeat;
}

#nav-ipad{
	width:46.69px;
	background:url(images/navbar/mac.png) 50% 50% no-repeat;
}

#nav-iphone{
	width:62.69px;
	background:url(images/navbar/iphone.png) 50% 50% no-repeat;
}

#nav-watch{
	width:59.09px;
	background:url(images/navbar/watch.png) 50% 50% no-repeat;
}

#nav-tv{
	width:37px;
	background:url(images/navbar/tv.png) 50% 50% no-repeat;
}

#nav-music{
	width:55px;
	background:url(images/navbar/music.png) 50% 50% no-repeat;
}

#nav-support{
	width:70px;
	background:url(images/navbar/support.png) 50% 50% no-repeat;
}

#nav-search{
	width:40px;
	background:url(images/navbar/search.png) 50% 50% no-repeat;
}

#nav-shop{
	width:40px;
	background:url(images/navbar/shop.png) 50% 50% no-repeat;
}


/*---------------end of nav----------------------*/



/*----------------hero------------------*/
div.hero{
	margin-top:11px;
	height:579px;
}

div.product-img{
	display:inline-block;
	width:420px;
	height:571px;
	margin-left:4px;
	background:url(images/iphone-6s-change_large.jpg) 0 0 no-repeat;
}


div.product-info{
	display:inline-block;
	position:absolute;
	top:261px;
	width:44opx;
	margin-left:50px;
}

h1.product-name{
	background:url(images/iphone_6s_large.png) no-repeat;
	margin:0 auto 13px;
	width:330px;
	height:61px;
}

h2.product-text{
	text-align:center;
	font-size: 39.5px;
    line-height: 1.1;
    font-weight: 300;
    letter-spacing: -1px;
	width:440px;
    margin-bottom: 27.5px;
}

ul.product-li{
	text-align:center;
}

ul.product-li li{
	display:inline-block;
	font-size: 23.7px;
    line-height: 1.3375;
    font-weight: 300;
    margin: 0 6px 12px;
}

ul.product-li li a{
	color:#08c;
	text-decoration:none;
}

ul.product-li li a:hover{
	color:black;
	text-decoration:underline;
}


/*------------end of hero------------------*/






/*--------sub hero------------*/


div.sub-hero{
	margin-top:16px;
}

div.col3{
	width:25%;
	height:200px;
	display:inline-block;
	vertical-align:top;
}

div.sub-watch{
	background:url(images/watch_large.jpg) center center no-repeat;
}


div.sub-ipad{
	background:url(images/ipad_pro_large.jpg) center center no-repeat;
}

div.sub-phone{
	background:url(images/accessories_large.jpg) center center no-repeat;
}

div.sub-mac{
	background:url(images/macbook_large.jpg) center center no-repeat;
}

div.exchange{
	margin: 22px 0 18px;
    letter-spacing: -0.1px;
    text-align: center;
    font-weight: 400;
}

.exchange p a{
	color:#08c;
	font-size:18px;
	text-decoration:none;
}

.exchange p a:hover{
	text-decoration:underline;
}


/*----------end of sub-hero----------------*/






/*-------------footer------------*/
footer{
	magin-top:10px;
	background-color: #f2f2f2;
    font-size: 11.94px;
    line-height: 1.66667;
    font-weight: 400;
    letter-spacing: -0.01px;
    color: #666;
}


footer.container{
	padding:0 22px;
}

.footer-nav{
	padding-top:20px;
}

.col2{
	width:20%;
	display:inline-block;
	vertical-align:top;
}


.col2 ul li:first-child{
	font-weight:600;
	color:#333;
}
.col2 ul li a{
	color:#333;
	text-decoration:none;
}

.col2 ul li a:hover{
	text-decoration:underline;
}

.second-ul{
	padding-top:20px;
}


.footer-help{
	color:#999;
	padding:20px 0 24px;
}

.footer-help-first{
	border-bottom:1px solid #e3e3e3;
	margin-bottom:6px;
	padding-bottom:5px;
}

.footer-help-first a{
	text-decoration:none;
	color:#08c;
}

.footer-help-first a:hover{
	text-decoration:underline;
	color:#333;
}

.legal{
	margin-right:22px;
	display:inline-block;
}

.legal-link{
	display:inline-block;
	vertical-align:top;
}

.legal-link ul li{
	display:inline-block;
}

.legal-link ul li:not(:last-child){
	padding-right:12px;
	margin-right:10px;
	border-right:1px solid #d6d6d6;
}

.legal-link ul li a{
	text-decoration:none;
	color:#666;
}

.legal-link ul li a:hover{
	text-decoration:underline;
}


.locate{
	display:inline-block;
	vertical-align:top;
	float:right;
}

.locate a{
	display:inline-block;
	vertical-align:top;
	color:#666;
	text-decoration:none;
}

.locate a:hover{
	text-decoration:underline;
}

.locate-flag{
	display:inline-block;
	height:16px;
	width:21px;
	background:url(images/usa.png) 3px 0 no-repeat;
	background-size:16px 16px;
	margin-top:1px;
	margin-right:1px;
}